.root {
  position: relative;
}

.toggle {
  display: flex;
  align-items: center;
  gap: 2px;
  box-shadow: 2px 2px 6px var(--bg0-shadow-color);
  border-radius: var(--rad-sm);
  padding-right: calc(var(--padding) + 1px);
  padding-left: calc(var(--padding) + 1px);
}

.menu {
  display: flex;
  position: absolute;
  bottom: calc(100% + 6px);
  left: 0;
  flex-direction: column;
  box-shadow: 2px 2px 8px var(--bg0-shadow-color);
  border: solid 1px var(--bg1);
  border-radius: var(--rad-sm);
  background: var(--bg0);
  min-width: 160px;
  overflow: hidden;

  button {
    box-shadow: none;
    border: none;
    border-radius: 0;
    background: var(--bg0);
    padding: 0.5em 0.9em;
    color: var(--text);
    font-size: 0.9em;
    text-align: left;
    white-space: nowrap;

    &:hover {
      background: var(--accent);
      color: var(--text-on-accent);
    }
  }

  hr {
    margin: 0;
    border: none;
    border-top: solid 1px var(--bg1);
  }
}
